vendor/
node_modules/

public/build
public/storage
public/images
public/hot
public/js/app.js
public/js/app.js.map
storage/*.key
.idea
Homestead.json
Homestead.yaml
.env
.vscode

.php_cs.cache

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
